/* general CSS */

#header {
	background-color: #BBFEF5;
}

#header a {
	color: black;
	text-decoration: none;
	font-weight: 800;
	font-family: 'Montserrat-Bold';
	text-transform: uppercase;
	transition: 0.5s;
}

#header a:hover {
	opacity: 0.5;
	transition: 0.5s;
}

#content {
	min-height: 51pc;
	background-color: #F8F4F4;
}

footer {
	width: 100%;
	background-color: #BBFEF5;
	min-height: 50px;
}

@font-face {
	font-family: 'Montserrat-Bold';
	src: url("../fonts/Montserrat/Montserrat-Bold.ttf");
}

@font-face {
	font-family: 'Lato-Regular';
	src: url("../fonts/Lato/Lato-Regular.ttf");
}

h1,
h2,
h3,
h4,
h5,
h6,
strong {
	font-family: 'Montserrat-Bold';
}

p,
a,
b,
sub,
input,
span {
	font-family: 'Lato-Regular';
}

#close-menu,
#open-menu {
	width: 45px;
	position: absolute !important;
	left: 0;
	margin-left: 30px;
}
